<div class="reveal-modal custom-modal" id="signup-confirm" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <h2>已經寄驗證信給您囉！快去給我收個信，然後驗證您的帳號：）</h2>

  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>